optax
flax
distrax
ml_collections
numpy
scipy
h5py
matplotlib
scikit-learn
jupyter
tqdm
seaborn
absl-py
wandb
tensorflow-probability
moviepy
imageio
ipdb
nvidia-cudnn-cu12
nvidia-cuda-runtime-cu12
nvidia-cuda-nvcc-cu12
tensorflow_datasets >= 4.9.2
torchvision
tensorflow
opencv-python